@charset "UTF-8";
* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
:root {
    --corprimaria: #005996;
    --corsecundaria: #939393;
}
body{
    height: 100%;
    width: 100%;
}

header {
    background-color: var(--corprimaria);
    text-align: center;
    font-size: 1em;
    color: lch(100% 0.01 296.81);
    padding: 30px;

}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
section{
     background-color:var(--corsecundaria);
    height: 100%;
    width: 80%;
    
}

main div{ 
    width: auto;
   border-bottom: .5px solid black;
   padding: 10px;
   margin-bottom: 5px;
  
}
main div > a {
    text-decoration: none;
}


