@charset "UTF-8";

/* Configuração do caixa- telas grandes */

@media screen and ( min-width: 768px){
    main{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
         height: 100%;
    }
    section.conteiner_produtos  {
       float:  left;
        width: 45%;
        border-radius: 10px;
        
    }
    section.conteiner_caixa{
        float: right;
        margin-left: 20px;
       width: 45%;
       border-radius: 10px;
       margin-bottom: 0px;
       
    }
    section.conteiner_caixa > div , section.conteiner_produtos > div{
        height: 90%;
        max-width: 1000px;
  
    }
   section div.info_prod{
        height:20px;

    }
    
}